@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Diseño de la barra de opciones */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #000000;
  padding: 6px 14px;
}

.sidebar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}

.logo_content .logo i {
  font-size: 50px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  font-size: 28px;
  font-weight: 500;
}

/* .sidebar #btn {
  position: absolute;
  color: #fff;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translate(-50%);
} */

.sidebar ul {
  margin-top: 30px;
}

i{
  font-size: 30px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 20px 0px;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
}

.sidebar ul li a:hover {
  color: #000000;
  background: #fff;
}

.sidebar ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

/* seccion principal */
.home-section {
  position: absolute;
  height: 100%;
  width: calc(100% - 240px);
  left: 250px;
}

.home-section .text {
  font-size: 35px;
  font-weight: 500;
  color: #000000;
  margin: 12px;
}

/* 
este css es para el formulario */
.formulario {
  margin: 0 auto;
  text-align: center;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.formulario h2 {
  position: relative;
  font-size: 50px;
  font-weight: 500;
  color: #333;
}
/* .formulario h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4070f4;
} */
.formulario form {
  margin-top: 6px;
}
.formulario form .input-caja {
  height: 45px;
  margin: 18px 0;
}
.form .input-caja input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.input-caja .input:focus {
  border-color: #3f3f3f;
}

.input-caja.boton .input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #000000;
  cursor: pointer;
}

.input-caja.boton .input:hover {
  background: #3f3f3f;
}

/* css para buscar en almacen */
.input-buscar {
  margin: 10px;
  height: 30px;
  width: 100;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.input-buscar:focus {
  border-color: #3f3f3f;
}
/* boton buscar */
.boton-buscar {
  font-size: 13px;
  width: 100px;
  height: 35px;
  /* position: relative; */
  /* padding: 6px 22px; */
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #000000;
  transition: all 0.2s ease;
}

.boton-buscar:active {
  transform: scale(0.96);
}
.boton-buscar:before,
.boton-buscar:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

/* boton refrescar */
.boton-bregre{
  font-size: 13px;
  padding: 7px;
  position: relative;
  padding: 7.5px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #000000;
  transition: all 0.2s ease;

}

.boton-bregre:active {
  transform: scale(0.96);
}
.boton-bregre:before,
.boton-bregre:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

/* css para las tablas */
.tabla-contenedor {
  /* height: 350px; */
  /* max-height: 400px; */
  height: 500px;
  /* overflow-y: auto; */
  overflow-y: scroll;
}

.tabla-contenedor::-webkit-scrollbar {
  width: 0.5em; /* Ancho del scrollbar */
}

.centrar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabla {
  /* width: 100%; */
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
}

.tabla th {
  color: #000000;
  position: sticky;
  top: 0;
}

.tabla th,
.tabla td {
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.tabla th {
  background-color: #ffffff;
}
/* Boton */

/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* css para botones de actualizar */
.botonAct {
  font-size: 17px;
  width: 120px;
  /* position: relative; */
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #000000;
  transition: all 0.2s ease;
}
.botonAct:active {
  transform: scale(0.96);
}
.botonAct:before,
.botonAct:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

/* css para los botones de las tablas */
.botonTabla {
  width: 120px;
  /* position: relative; */
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #000000;
  transition: all 0.2s ease;
}
.botonTabla:active {
  transform: scale(0.96);
}
.botonTabla:before,
.botonTabla:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

/* css para disparador */

.combo-box {
  /* width: 120px;
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #000000;
  transition: all 0.2s ease; */

  margin: 18px;
  width: 135px;
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  background-color: #000000;
}

.area-txt {
  margin: 8px 0 0 0;
  width: 100%;
  outline: none;
  padding: 10px 10px;
  font-size: 13px;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  resize: none;
}

.boton-dis {
  width: 120px;
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #000000;
  transition: all 0.2s ease;
}
.boton-dis:active {
  transform: scale(0.96);
}
.boton-dis:before,
.boton-dis:after {
  position: absolute;
  /* content: ""; */
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

/*
.formulario form .input-caja {
  height: 45px;
  margin: 18px 0;
}
.form .input-caja input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.input-caja .input:focus {
  border-color: #3f3f3f;
}

.input-caja.boton .input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #000000;
  cursor: pointer;
}

.input-caja.boton .input:hover {
  background: #3f3f3f;
}

*/
