.centrar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-buscarF {
  font-size: 13px;
  width: 100px;
  height: 35px;
  border-radius: 6px;
  border: none;
  color: #fff;
  margin: 12px;
  cursor: pointer;
  background-color: #000000;
  transition: all 0.2s ease;
}

.boton-buscarF:active {
  transform: scale(0.96);
}

.boton-buscarF:before,
.boton-buscarF:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

/* boton refrescar */
.boton-bregreF {
    font-size: 13px;
    padding: 7px;
    position: relative;
    padding: 7.5px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #000000;
    transition: all 0.2s ease;
    margin: 10px auto; /* Añadido 'auto' al valor del margen */
  }
  
  .boton-bregreF:active {
    transform: scale(0.96);
  }
  
  .boton-bregreF:before,
  .boton-bregreF:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }


/* Tabla datos de albumes */

.tabla-vertical {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.fila-vertical {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.celda-vertical {
  border: 1px solid gray;
  padding: 10px;
}

.etiqueta {
  font-weight: bold;
}




/* errores pero en realidad es para actualizacion */

.modal {
  text-align: center;
  position: relative;
  max-width: 250px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  margin: 0 auto;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 75%;
  padding: 25px;
  /* border-radius: 5%; */

  margin-top: 6px;

  color: #333;
  /* border: 1.5px solid #c7bebe; */
  /* background-color: green; */
}

.modal-error {
  text-align: center;
  position: relative;
  max-width: 250px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  margin: 0 auto;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 25%;
  padding: 25px;
  /* border-radius: 5%; */

  margin-top: 6px;

  color: #333;
  /* border: 1.5px solid #c7bebe; */
}

.modal-error-login {
  text-align: center;
  position: relative;
  max-width: 500px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  margin: 0 auto;
  position: fixed;
  z-index: 9999;
  top: 0;
  /* left: 25%; */
  padding: 25px;
  /* border-radius: 5%; */

  /* margin-top: 6px; */

  color: #333;
  /* border: 1.5px solid #c7bebe; */
}

.modal-error-existencias {
  font-size: 20px;
  text-align: center;
  position: relative;
  max-width: 300px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  margin: 0 auto;
  position: fixed;
  z-index: 9999;
  left: 25%;
  padding: 25px;
  /* border-radius: 5%; */

  margin-top: 6px;

  color: #333;
}

.boton-error-existencia {
  font-size: 13px;
  width: 100px;
  height: 35px;
  /* position: relative; */
  /* padding: 6px 22px; */
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #000000;
  transition: all 0.2s ease;
}

.boton-error-existencia:active {
  transform: scale(0.96);
}
.boton-error-existencia:before,
.boton-error-existencia:after {
  position: absolute;
  content: "";
  /* width: 150%; */
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.boton-error-existencia2 {
  margin-left: 20px;
  font-size: 13px;
  width: 100px;
  height: 35px;
  /* position: relative; */
  /* padding: 6px 22px; */
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #000000;
  transition: all 0.2s ease;
}

.boton-error-existencia2:active {
  transform: scale(0.96);
}
.boton-error-existencia2:before,
.boton-error-existencia2:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}


